version: 1.0.{build}
branches:
  only:
  - master
image: Visual Studio 2017
configuration:
- Debug
- Release
build:
  verbosity: minimal
before_package:
- ps: Copy-Item C:\projects\Project-Atlas\$env:CONFIGURATION\Project-Atlas.exe C:\projects\Project-Atlas\Game\.
artifacts:
- path: Game
  name: Project Atlas
deploy:
- provider: GitHub
  auth_token:
    secure: 7aSM/QbXb3e6W1ej9uN1xLrQj/a6Ui80XL8E5ssXm5bz9yWEL4CGnQ9Dh5qZus/f
  draft: true
